@import url(./style.css);

:root {
  --font-family: "Source Sans Pro", sans-serif;

  --primary-color: #4592af;
  --secundary-color: #3e3939;

  --black-color: #272727;
  --white-color: #f6f4f4;
  --grey-color: #d4d4d4;
  --colors: rgb(212, 212, 212);
}

body {
  background: var(--white-color);
}

.navbar {
  top: 0;
}

main {
  background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url(./assets/ralph-ravi-kayden-mR1CIDduGLc-unsplash.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .hero-logo {
  width: 350px;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-texts i {
  color: var(--white-color);
  font-size: 1.9rem;
  animation: arrowDown 1s infinite ease-in-out;
}

.container.contato i,
.container.contato h5 a,
.container.contato h5,
.container.contato h4 {
  color: var(--black-color);
}

.info-containter h3 {
  color: var(--black-color);
}

@keyframes arrowDown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

.hero img {
  width: 100%;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: -20px;
}

.hero h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.container.enterprise {
  padding-top: 150px;
    background: var(--black-color);
  padding-top: 0px;
  color: var(--white-color);
}

.enterprise .container-content {
  display: flex;
  flex-direction: column;
}

.enterprise h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--white-color);
}

.enterprise .text-infos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
  min-height: 30vh;
  background-color: var(--black-color);
}

.owl-item img {
  object-fit: fill;
  width: 100%;
  height: 50vh;
  background: var(--black-color);
}

.enterprise span {
  display: block;
}
.enterprise .text-infos {
  font-size: 1.2rem;
  align-items: center;
  padding: 50px;
}

.enterprise .text-infos h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.enterprise .text-infos p {
  font-size: 1rem;
  width: 70%;
  height: 60px;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.text-infos p::-webkit-scrollbar {
  width: 10px;
  background-color: var(--white-color);
  border-radius: 30px;
}

.text-infos p::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 30px;
}

.card img {
  -webkit-filter: brightness(0.7);
}

.enterprise ~ .enterprise {
  margin-top: 20vh;
}

.owl-nav{
   
   
    width: 100vw;
   
}

.owl-nav{
    position: absolute;
    top: 40%;
}

.owl-nav .owl-prev{
    position: absolute;
    left: 15px;
    font-size: 3rem;
}


.owl-prev span, .owl-next span{
    font-family: var(--font-family);
    font-size: 3rem;
    background: var(--white-color);
    color: var(--black-color);
    width: 40px;
    height: 40px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 35px;
    box-shadow: 0px 0px 15px var(--black-color);
   
    
}

.owl-prev span:hover, .owl-next span:hover{
    transition: 0.4s;
    background: var(--black-color);
    color: var(--white-color);
}

.owl-nav .owl-next{
   
    position: absolute;
    right: 25px;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel button.owl-dot{
    background: transparent;
}

@media screen and (max-width: 780px) {
  .enterprise h1 {
    font-size: 2rem;
    text-align: center;
  }
  .enterprise .text-infos h3 {
    font-size: 1.3rem;
  }


  
}
